{% load crispy_forms_tags %}
{% if perms.task.task_management %}

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-task-modal">
    Add task
</button>

<div class="modal fade" id="add-task-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New task</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form action="{%url 'task:create' %}" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}